[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.103.*"
uvicorn = "0.23.*"
gunicorn = "21.2.*"
pydantic = "2.4.*"
grpcio = "1.59.*"
protobuf = "4.24.*"
orjson = "3.9.*"
